body{
    padding: 25px;
}
.title {
    color: #5C6AC4;
}
.columns{
    display:flex;
    flex-direction: row;
    padding:10px;
    justify-content: center; /* Horizontally centers flex items (your calculator) */
    align-items: center;
}
.rows{
    font-size:24px;
    width:80px;
    height:80px;
    border:1px solid #ccc;
    border-radius:12px;
    cursor:pointer;
    padding:24px;
    background-color:black;
    color:white;
    gap:10px;
    justify-content: center;
    align-content: center;
}
#calculator{
    display:flex;
    flex-direction: column;
    cursor:pointer;
    width:320px;
    padding:20px;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    background-color:#1C1C1C;
}
.operations{
    background-color: orange;
    color:white;
}
#display{
    width:100%;
    color:white;
    height:40px;
}